section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}
.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}
.slider-content input, .img-mobile{
    display: none;
}
.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 0.8s;
}
.slide-box img{
    width: 100%;
}
.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 37%;
    display: flex;
    justify-content: center;
}
.manual-btn, .nav-auto div{
    cursor: pointer;
    border: 1px solid #A96224 ;
    padding: 10px;
    border-radius: 50%;
    transition: .4s;
}
.nav-manual, .manual-btn:not(:last-child),.nav-auto div:not(:last-child) {
    margin-right: 10px;
}
 .manual-btn:hover{
    background-color: #A96224;
}
#radio1:checked ~ .nav-auto .auto-btn-1, #radio2:checked ~ .nav-auto .auto-btn-2, #radio3:checked ~ .nav-auto .auto-btn-3 {/*quando o radio estiver marcado eu quero que aconteça um fenomeno no meu botão*/
 background-color: #A96224;
}

/*Quando o radio 1 estiver marcado eu quero que a class primeiro aconteça algo no caso a img que tem a class primeiro se desloca */
#radio1:checked ~ .primeiro{
    margin-left: 0%;
}
#radio2:checked ~ .primeiro{
    margin-left: -25%;
}
#radio3:checked ~ .primeiro{
    margin-left: -50%;
}


@media (max-width:768px){
    .img-desktop{
        display: none;
    }
    .img-mobile{
        display:block;
    }
    .nav-auto, .nav-manual{
        margin-top: 168%;
    }
   
    
}